body {
    background-color: blueviolet;
}
h1 {
    margin: 20px;
    font-size: large;
    font-weight: bold;
}

p {
    background-color: cornflowerblue;
    color: darkgoldenrod;

}

#first-paragraph {
    background-color: darkolivegreen;
    color: darksalmon;
}